body {
  overflow-x: hidden !important;
}

@font-face {
  font-family: "Proxima Nova Reg";
  src: url("../../../fonts/ProximaNova/Proxima\ Nova\ Reg.otf");
}

.container-navbarr {
  align-items: center;
  background-color: rgb(24, 50, 70);
  justify-content: space-between;
  width: 100%;
}

.navbar-brand-1 {
  width: 40%;
}

.btn-ini {
  text-align: center;
}

.ini {
  background-color: rgb(133, 131, 53);
  border: 1px solid rgb(133, 131, 53);
  color: aliceblue;
  font-family: "Proxima Nova Reg";
  text-transform: uppercase;
}

.nav-link {
  font-family: "Proxima Nova Reg";
  font-size: 14px;
  color: aliceblue;
  text-decoration: none;
}

@media only screen and (max-width: 500px) {
  .container-navbarr {
    padding-left: 7%;
    padding-right: 7%;
    background-color: rgb(33, 37, 41, 1);
    padding-bottom: 3%;
    height: 250px;
  }
}
