body {
  overflow-x: hidden !important;
}

@font-face {
  font-family: "Proxima Nova Reg";
  src: url("../../../fonts/ProximaNova/Proxima\ Nova\ Reg.otf");
}

.menutop {
  background-color: rgb(24, 50, 70);
  display: flex;
  height: auto;
  width: 100%;
  padding: 0;
}

.menu-con {
  height: auto;
  min-width: 100px;
  padding: 10px;
  width: 50%;
}

.menu-con a {
  color: #fffdfd;
  font-family: "Proxima Nova Reg";
  font-size: 15px;
  padding: 5px 50px;
  text-decoration: none;
}

@media only screen and (max-width: 900px) {
  .menutop {
    display: block;
    height: 40vh;
  }

  .menu-con {
    background-color: rgb(24, 50, 70);
    height: auto;
    min-width: 100px;
    padding: 30px;
    width: 82%;
  }

  .menu-con a {
    color: #fffdfd;
    font-family: "Proxima Nova Reg";
    font-size: 18px;
    padding: 5px 13px;
    text-decoration: none;
  }
}
