body {
  overflow-x: hidden !important;
}

@font-face {
  font-family: "Proxima Nova Reg";
  src: url("../../../fonts/ProximaNova/Proxima\ Nova\ Reg.otf");
}

.menutop {
  align-items: center;
  background-color: rgb(24, 50, 70);
  display: flex;
  height: 90px;
  justify-content: space-between;
  width: 100%;
}

.menutop > .nav-items > a {
  color: #ffffff;
  font-family: "Proxima Nova Reg";
  font-size: 16px;
  margin: 15px;
  opacity: 0.9;
  position: relative;
  text-decoration: none;
}

.menutop > .nav-logo {
  margin: 30px;
}

.menutop > .nav-toggle {
  display: none;
}

@media only screen and (max-width: 900px) {
  .menutop {
    align-items: center;
    background-color: rgb(24, 50, 70);
    display: flex;
    height: 40vh;
    justify-content: center;
    width: 100%;
  }

  .menutop > .nav-logo {
    /* margin: 80px; */
    height: 40vh;
    padding: 0px 95px;
  }

  .menutop > .nav-items {
    align-items: center;
    background-color: rgb(24, 50, 70);
    display: flex;
    flex-direction: column;
    height: 100%;
    left: 0;
    position: absolute;
    top: 100px;
    width: 100%;
  }

  .menutop > .nav-toggle {
    align-items: center;
    cursor: pointer;
    display: flex;
    height: 50px;
    justify-content: center;
    width: 50px;
  }
}
