footer{
    background-color: rgb(24, 50, 70);
    padding: 2rem 3.5rem;
}

.logo-footer{
    text-align: center;
}

.logo-footer p , h2{
    color: aliceblue;
    font-family: "Proxima Nova Reg";
    font-size: 12px;
}

.network{
    text-align: center;
}

.facebook {
    color: aliceblue;
    font-size: 40px;
    text-decoration: none;
}
