.contenedor {
  background-color: rgb(0, 14, 24);
  display: flex;
}

.imagePer {
  height: auto;
  width: 30%;
  min-width: 100px;
}

.image-per {
    float: left;
    width: 20%;
    padding: 15px 50px;
}

/*
Titulo
*/
.titulo-per {
  font-family: "Bebas Neue";
  font-weight: 500;
  font-size: 50px;
  text-transform: uppercase;
  color: aliceblue;
}

/*Botón*/
.buttonPer {
  height: auto;
  width: 100%;
  padding: 40px;
  min-width: 100px;
}

.buttonhref {
  font-family: "Bebas Neue";
  font-size: 30px;
  background-color: Transparent;
  color: aliceblue;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  float: right;
}

/*Responsive*/
@media only screen and (max-width: 900px) {
  .image-per {
    float: left;
    width: 80%;
    padding: 10px 130px;
  }

  .buttonhref {
    font-family: "Montserrat";
    font-size: 17px;
    padding: 50px 100px;
    text-align: center;
  }
}
